{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Achievement {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'achievements/style.css' %}">
    <script src="{% static 'achievements/script.js' %}"></script>
</head>
<body>
    <header>
        {% block header %}
            <h1>My Site</h1>
        {% endblock %}
    </header>
    <main>
        {% block content %}
            <p>This page has no content.</p>
        {% endblock %}
    </main>
    <hr>
    <footer>
        <p>This page exists, but has no footer content. :(</p>
    </footer>
</body>
</html>